* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* esercizio 1 */
.ex-1-square {
    transition: all 1.5s;
}
.ex-1-square:hover {
    background-color: red;
}

/* esercizio2  */
.ex-2-square {
    transition: all 2s;
}
.ex-2-square:active {
    width: 100%;
}

/* esercizio3 */
.ex-3-square {
    transition: all 2s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

/* esercizio4 */
.ex-4-square {
    transition: all 2s;
}
.ex-4-square:hover {
    background-color: #f5f5f5;
}

/* esercizio5 */
.ex-5-square {
    transition: 1s;
}
.ex-5-square:hover {
    width: 95px;
    height: 95px;
}
.ex-5-square:active {
    width: 25px;
    height: 25px;
}

/* esercizio6 */
.ex-6-img:hover {
    filter: grayscale();
}

/* esercizio7 */
.ex-7-img {
    transition: 2s;
}
.ex-7-img:hover {
    filter: grayscale(1) invert(1);
}

/* esercizio8 */
.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    border-radius: 20px;
    filter: saturate(.9) sepia(.5);
}

/* esercizio9 */
.ex-9-img {
    transition: 2s;
}
.ex-9-img:hover {
    border-radius: 20px;
    filter: saturate(.9) sepia(.5);
    transform: scale(1.3);
}

/* esercizio10 */
.ex-10-icon {
    animation: ruota 1s linear infinite ;
}
@keyframes ruota {
    0%{
        transform: rotate(360deg);
    }
}
/* esercizio11 */
.ex-11-icon:hover {
    animation: tre-quarti 1s linear ;
}
@keyframes tre-quarti {
    0%{
        transform: rotate(0);
    }
    70% {
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0);
    }
}

/* esercizio12 */
.ex-12-button:hover .ex-12-top-white {
    animation: top-white 1s linear;
}
@keyframes top-white {
    0%{
        top: -10px;
        left: 10%;
    }
    50% {
        top: -10px;
        left: calc(100% - 60px);
    } 
    100% {
        top: -10px;
        left: 10%;
    } 
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: bottom-white 1s linear;
}
@keyframes bottom-white {
    0%{
        bottom: -10px;
        right: 20%;
    }
    50% {
        bottom: -10px;
        right: calc(100% - 60px);
    }
    100%{
        bottom: -10px;
        right: 20%;
    }
}

/* esercizio13 */
.ex-13-button:hover .ex-13-top-white{
    animation: top-white-giro 3s linear;
}
@keyframes top-white-giro {
    0%{
        top: -10px;
        left: 10%;
    }
    30%{
        top:-10px;
        left: calc(100% - 30px);
    }
    45%{
        top:100%;
        left: calc(100% - 30px);
    }
    75%{
        top: 100%;
        left: -30px;
    }
    90%{
        top:-10px;
        left: -30px;
    }
    100%{
        top: -10px;
        left: 10%;
    }
}
.ex-13-button:hover .ex-13-bottom-white{
    animation: bottom-white-giro 3s linear;
}
@keyframes bottom-white-giro {
    0%{
        bottom: -10px;
        right: 20%;
    }
    30% {
        bottom: -10px;
        right: calc(100% - 30px);;
    }
    45%{
        bottom: 100%;
        right: calc(100% - 30px);
    }
    75%{
        bottom: 100%;
        right: -30px;
    }
    90%{
        bottom: -10px;
        right: -30px;
    }
    100%{      
        bottom: -10px;
        right: 20%;
    }
}