* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* esercizio 1 */
.ex-1-square {
    transition: all 1.5s;
}
.ex-1-square:hover {
    background-color: red;
}

/* esercizio2  */
.ex-2-square {
    transition: all 2s;
}
.ex-2-square:active {
    width: 100%;
}

/* esercizio3 */
.ex-3-square {
    transition: all 2s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

/* esercizio4 */
.ex-4-square {
    transition: all 2s;
}
.ex-4-square:hover {
    background-color: #f5f5f5;
}

/* esercizio5 */
.ex-5-square {
    transition: 1s;
}
.ex-5-square:hover {
    width: 95px;
    height: 95px;
}
.ex-5-square:active {
    width: 25px;
    height: 25px;
}

/* esercizio6 */
.ex-6-img:hover {
    filter: grayscale();
}

/* esercizio7 */
.ex-7-img {
    transition: 2s;
}
.ex-7-img:hover {
    filter: grayscale(1) invert(1);
}

/* esercizio8 */
.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    border-radius: 20px;
    filter: saturate(.9) sepia(.5);
}

/* esercizio9 */
.ex-9-img {
    transition: 2s;
}
.ex-9-img:hover {
    border-radius: 20px;
    filter: saturate(.9) sepia(.5);
    transform: scale(1.3);
}

/* esercizio10 */
.ex-10-icon {
    animation: ruota 1s linear infinite ;
}
@keyframes ruota {
    0%{
        transform: rotate(360deg);
    }
}
/* esercizio11 */
.ex-11-icon:hover {
    animation: tre-quarti 1s linear ;
}
@keyframes tre-quarti {
    0%{
        transform: rotate(0);
    }
    70% {
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0);
    }
}

